<div class="jumbotron center" style="background-color: #959595">
  <h1 class="logo-jumbotron">らいヴぃう-ブログ</h1>
  <%= link_to "Sign up now", "#", class: "btn btn-danger btn-xlarge" %>
  <p id="quote">Keep pursue your dream..</p>
</div>